.container{
    background-color: rgb(230, 227, 227);
    padding: 10px;
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    /* align-items: right; */

}
.item{
    background-color: rgb(230, 112, 112);
    color: white;
    padding: 100px 10px 5px 10px;
    margin: 10px;
    height: 120px;
    width: 200px;
    border: 5px solid rgb(236, 206, 150);
    border-radius: 3px;
    text-shadow: 25px;
    text-decoration-line: overline underline;
    text-overflow: ellipsis;
    text-shadow: 200px;
    font-size: 20px;
    text-align: center;
    
}