h2{
    color:blue;
    background-color: rgb(255, 230, 130);    
}
p{
    background-color: rgb(100, 199, 238);
}
.container{
    background-color: rgb(92, 92, 189);
    width: 600px;
    height: 500px;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-34-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=89288ef4b47127f7f34a5998b50e4470);
    
}