<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('partials/header') %>
    <div style="margin-top: 10px; margin-left: 10px; width: auto;">
        <h2>Home EJS File</h2>
    </div>
    
    <%- include('partials/footer') %>

    
</body>
</html>