<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS File</title>
</head>
<body>
    <%- include('partials/header') %>
    

    <h2>Novels List</h2>
    <ul>
       <%novels.forEach(novels => {%>
    <li><%=novels.ntitle%> - <%=novels.price%></li>
<%});%>
    </ul>

</body>
</html>