<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novels</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <h2>Novels to Read</h2>
    <ol>
      <%novels.forEach(novels => {%>
      <li><a style="text-decoration: none; color:rgb(21, 12, 117);"  href="../novels/<%=novels.id %>"><%=novels.ntitle %></a></li>
      <%});%>
    </ol>
    <%- include('partials/footer') %>
  </body>
</html>
